*                                                    @Simple-ML/developers
/.github/                                            @lars-reimann

/DSL/                                                @lars-reimann
/DSL/de.unibonn.simpleml.web/                        @adanewitz @khalid-abdalla

/Frontend/                                           @adanewitz @khalid-abdalla

/Runtime/.devcontainer/                              @lars-reimann
/Runtime/.vscode/                                    @lars-reimann
/Runtime/runtime/                                    @s6fikass
/Runtime/stdlib                                      @fakharabbas-3002 @sgottsch
