.view-toggler {
  background-color: white;
  text-align: left;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  border: 0px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  font-family: DIN-regular;
  font-size: 16px;
  letter-spacing: 0.23px;
  line-height: 22px;
}

