.view-toggler {
  background-color: #ffffff;
  border: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: DIN-regular;
  font-size: 16px;
  letter-spacing: .23px;
  line-height: 22px;
  padding-bottom: 32px;
  padding-top: 32px;
  text-align: left;
  width: 100%;
}