# Ignore anywhere
**/.DS_STORE/
**/.gradle/
**/build/
**/dist/
**/emf-gen/
**/src-gen/
**/node_modules/

# Ignore in root
.devcontainer
.vscode
gradle
.dockerignore
.gitignore
gradlew
gradlew.bat

# Ignore in de.unibonn.simpleml
de.unibonn.simpleml/META_INF/
de.unibonn.simpleml/build.properties
de.unibonn.simpleml/plugin.properties
de.unibonn.simpleml/plugin.xml
