# Eclipse
.settings/
.classpath
.project

# Gradle
.gradle/
build/

# Xtext test module (gets created by workflow but removed afterwards)
de.unibonn.simpleml.tests/

# Generated stuff
/package-lock.json
