# Eclipse
.settings/
.classpath
.project

# Gradle
.gradle/
build/

# IntelliJ
.idea/

# Xtext test module (gets created by workflow but removed afterwards)
de.unibonn.simpleml.tests/

# Generated stuff
.DS_Store/
/package-lock.json
*.log
