.propsEditor{
    background-color: white;
    min-height: 100%;
    padding: 9px 12px 9px 12px;
    text-align: left;
    object-fit: contain;
    font-family: DINOT;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--black);
}

.title{
    width: 100%;
    min-height: 3.75%;
    font-size: var(--font-size-big);
    line-height: 1.29;
    padding-bottom: 5px;
}
.infotext{
    width: 100%;
    height: 2.08%;
    font-size: var(--font-size-small);
    line-height: 1.43;
    padding-bottom: 11px;
}

.propLabel{
    font-weight: bolder;
}