.view-toggler {
    background-color: white;
    text-align: left;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
    border: 0px;
  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  
    font-family: DIN-regular;
    font-size: 16px;
    letter-spacing: 0.23px;
    line-height: 22px;
}

.multi-view-container {
    min-height: 830px;
    height: 100%;
    width: 100%;
    background-color: #2f1433;
    display:grid;
  
    .textEditor {
        position: relative;
        min-width: 450px;
        min-height: 400px;
        margin: 0px;
    }
  
    .graphicalEditor {
        position: relative;
        height: 100%;
        padding: 1em;
        overflow:scroll;
    }
  
    .lm_goldenlayout{
        height:100%;
        border:0px;
        background: #290b2e;
        .lm_header{
            background-color:#2f1433;
            min-width: 1.5em;
            margin: 0px;
            float:left;
    
            .lm_tabs{
                display:none;
            }
    
        }
        .lm_row{
            width:100% !important;
        }
    
        .lm_items{
            width:calc(100% - 24px) !important;
            height: 100%;
            //margin-left:1.5em;
            //padding-left:1.5em;
            .lm_item_container{
                height:100%;
                width:100% !important;
            }
        }
        .lm_item.lm_stack{
            display:flex;
    
        }
        .lm_splitter.lm_vertical{
            background-color: #290B2E;
            opacity:1;
        }
        .lm_splitter.lm_horizontal{
            background-color: #290B2E;
            opacity:1;
        }
        .lm_content{
            background-color:#461f4c;
            width:100%!important;
            border:0px;
        }
        .lm_dragging{
            background-color:#2f1433;
        }
    }
}
  
.buttons {
    display: inline-block;
    position: relative;
    width:100%;
}
  
