.view-toggler {
    background-color: #ffffff;
    border: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: DIN-regular;
    font-size: 16px;
    letter-spacing: .23px;
    line-height: 22px;
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: left;
    width: 100%;
}

.multi-view-container {
    background-color: #2f1433;
    display: flex;
    height: 100vh;
    min-height: 830px;
    width: 80%;
  
    .textEditor {
        margin: 0px;
        min-height: 400px;
        min-width: 450px;
        position: relative;
    }
  
    .graphicalEditor {
        height: 100%;
        overflow: scroll;
        padding: 1em;
        position: relative;
    }
  
    .lm_goldenlayout{
        background: #290b2e;
        border:0px;
        height:100%;

        .lm_header{
            background-color:#2f1433;
            float: left;
            margin: 0px;
            min-width: 1.5em;
    
            .lm_tabs{
                display:none;
            }
    
        }
        .lm_row{
            width:100% !important;
        }
    
        .lm_items{
            height: 100%;
            width:calc(100% - 24px) !important;

            .lm_item_container{
                height:100%;
                width:100% !important;
            }
        }
        .lm_item.lm_stack{
            display:flex;
    
        }
        .lm_splitter.lm_vertical{
            background-color: #290B2E;
            opacity:1;
        }
        .lm_splitter.lm_horizontal{
            background-color: #290B2E;
            opacity:1;
        }
        .lm_content{
            background-color:#461f4c;
            border:0px;
            width:100%!important;
        }
        .lm_dragging{
            background-color:#2f1433;
        }
    }
}
  
.buttons {
    display: inline-block;
    position: relative;
    width:100%;
}
  
