.propsEditor{
    background-color: white;
    min-height: 100%;
    padding: 9px 12px 9px 12px;
    text-align: left;
    object-fit: contain;
    font-family: DINOT;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--black);
}