

.Toolbar {
  position: fixed;
  right: 0;
  width: 38px;
  background-color: #5d1b64;
  border-radius: 4px;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.Toolbar-button {
  width: 30px;
  height: 30px;
}
