.app-header{
    background-color: #290B2E;
    display: flex;
    flex-direction: row;
    height: 64px;
    width:100%;

    .logo-container {
        align-items: center;
        display: flex;
        padding: 12px 16px;
    }
    .logo {
        float: left;
        height: 40px;
        margin-right: 3px;
        width: 110px;
    }
    .simple-ml{
        float: left;
        height: 1em;
        min-height:10px;
        min-width: 70.5px;
    }

    .button-container {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        padding: 12px 16px;
    }

    .button {
        height: 24px;
        width: 24px;
    }
}
