*                                       @Simple-ML/stdlib
/.devcontainer/                         @lars-reimann
/.github/                               @lars-reimann
/.vscode/                               @lars-reimann
/data/                                  @fakharabbas-3002 @sgottsch
/data_catalog/                          @fakharabbas-3002 @sgottsch
/python/simpleml/data_catalog/          @fakharabbas-3002 @sgottsch
/python/simpleml/ml_catalog/            @fakharabbas-3002 @sgottsch
/python/simpleml/queries/               @fakharabbas-3002 @sgottsch
/python/simpleml/rdf/                   @fakharabbas-3002 @sgottsch
/stubs/                                 @lars-reimann
