[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rdflib = "*"
numpy = "*"
pandas = "*"
pyproj = "*"
shapely = "*"
scikit-learn = "*"
sparqlwrapper = "*"

[dev-packages]

[requires]
python_version = "3.9"
