.app-header{
    height: 2em;
    min-height: 32px;
    width:100%;
    padding: 0.5em 3px 0.5em 8px;
    background-color: #290B2E;

    .logo {
        max-height:2em;
        max-width: 5.5em;
        float: left;
        margin-right: 3px;
    }
    .simple-ml{
        float: left;
        min-width: 70.5px;
        height: 1em;
        min-height:10px;
        margin-top: 0.5em;
    }
}
