.geometry{
    background-image: url( "./images/background/lila-layer-geometisch.svg" );
    background-color: #ffffff;
    //background-size: 100% auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}

.dark{
    background-color:  #290b2e;
}