.container{
    position:relative;
    overflow:hidden;
    width:321px;
    height:241px;
    background-color:aquamarine;
    cursor:default;
}

.container2{
    position:relative;
    overflow:hidden;
    width:321px;
    height:241px;
    background-color:beige;
    cursor:default;
}